@charset "UTF-8";

body{
    text-align: center;
    font-family: Arial;
}

div:hover{
    color: red;
}

div > p{
    display: none;
}

div:hover > p{
    display: block;
    color: black;
    background-color: yellow;
}


