@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    font: 1em Arial;
    color: black;
}

h1{
    font-size: 3em;
    font-family: Rock Salt;
}

p{
    font-family: Bungee
}

h2{
    font-size: 2em;
    font-family: "Rock Salt";
}

