@charset "UTF-8";

@media screen and (min-width: 481px) {
    header > #burguer{
        display: none;
    }

    header > nav{
        display: block;
    }

    header > nav > ul > li{
        display: inline-block;
        border-top: 0px;
    }

    main{
        max-width: 768px;
    }
}